<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <!--
    * https://github.com/nlog/NLog/wiki/Targets
    * https://github.com/nlog/NLog/wiki/Layout-Renderers
    * http://dotnetcsharptips.seesaa.net/article/419883987.html
    -->
    <target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}.csv">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="true">
        <column name="time" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" quoting="Nothing" />
        <column name="level" layout="${level:upperCase=true}" quoting="Nothing"/>
        <column name="message" layout="${message}" quoting="All" />
        <column name="exception" layout="${exception:format=ToString}" quoting="All"/>
      </layout>
    </target>
    <target xsi:type="Console" name="console"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}][${level:upperCase=true}] ${message} ${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
